<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <html xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/background.css}">
    <title>Create new Item</title>
</head>

<body>
    <a class="button" th:href="@{/home}">Home</a>
    <form id="msform" th:action="@{/saveSupplier}" method="post" th:object="${supplier}">
        <h1>ADD SUPPLIER</h1><br>
        <br>
        <input type="text" th:field="*{company}" placeholder="Company name" />
        <input type="text" th:field="*{address}" placeholder="Address" />
        <input type="date" th:field="*{cooperationDate}" placeholder="Cooperation Date" />
        <button type="submit" value="Submit">Create new book</button>
    </form>

</body>


</html>