<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <html xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/background.css}">
    <title>Create new Item</title>
</head>

<body>
    <button type="button">Create Book</button>
    <button type="button">Create Clothes</button>
    <button type="button">Create Electronics</button>
    <form id="msform" th:action="@{/saveBook}" method="post" th:object="${book}">
        <input type="text" th:field="*{title}" placeholder="Title" />
        <input type="text" th:field="*{author}" placeholder="Author" />
        <input type="text" th:field="*{category}" placeholder="Category" />
        <input type="text" th:fsield="*{publisher}" placeholder="Publisher" />
        <input type="text" th:field="*{price}" placeholder="Price" />
        <input type="date" th:field="*{mfgDate}" placeholder="MfgDate" />
        <input type="file" name="fileImage" id="fileImage" />
        <button type="submit" value="Submit">Create new book</button>
    </form>
    <form id="msform" th:action="@{/saveClothes}" method="post" th:object="${clothes}">
        <input type="text" th:field="*{title}" placeholder="Title" />
        <input type="text" th:field="*{typeOfClothes}" placeholder="Type" />
        <input type="text" th:field="*{size}" placeholder="Size" />
        <input type="text" th:field="*{material}" placeholder="Material" />
        <input type="text" th:field="*{price}" placeholder="Price" />
        <input type="date" th:field="*{mfgDate}" placeholder="MfgDate" />
        <button type="submit" value="Submit">Create new cslothes</button>
    </form>
    <form id="msform" th:action="@{/saveElectronics}" method="post" th:object="${electronics}">
        <input type="text" th:field="*{title}" placeholder="Title" />
        <input type="text" th:field="*{brandOfElectronics}" placeholder="Brand" />
        <input type="text" th:field="*{typeOfElectronics}" placeholder="Type" />
        <input type="text" th:field="*{version}" placeholder="Version" />
        <input type="text" th:field="*{price}" placeholder="Price" />
        <input type="date" th:field="*{mfgDate}" placeholder="MfgDate" />
        <input type="text" th:field="*{description}" placeholder="Description" />
        <button type="submit" value="Submit">Create new electronics</button>
    </form>
</body>

</html>