<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <html xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/background.css}">

    <title>Details</title>
</head>

<body>
    <a th:href="@{/home}">Home</a>
    <H1 th:align="center"> Details of Item</H1>

    <form action="#" id="msform" th:action="@{/updateBook}">
        <table th:align="center" padding="10" border=1>
            <tr>
                <td>Lable</td>
                <td>information</td>
            </tr>
            <tr>
                <td>ID</td>
                <td>
                    <input th:field="*{book.id}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>Title</td>
                <td>
                    <input th:field="*{book.title}" />
                </td>
            </tr>
            <tr>
                <td>Author</td>
                <td>
                    <input th:field="*{book.author}" />
                </td>
            </tr>
            <tr>
                <td>Publisher</td>
                <td>
                    <input th:field="*{book.publisher}" />
                </td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <input th:field="*{book.category}" />
                </td>
            </tr>
            <tr>
                <td>Date</td>
                <td>
                    <input type="date" th:field="*{book.mfgDate}" />
                </td>
            </tr>
            <tr>
                <td>Price</td>
                <td>
                    <input th:field="*{book.price}" />
                </td>
            </tr>
        </table>
        <button type="submit">Update</button>
        <a class="button" th:href="@{'/delete/'+${book.id}}"> Delete</a>
    </form>
</body>

</html>