<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/background.css">
    <title>Home</title>
</head>

<body>
    <button class="Button" onclick="location.href='createItem'" type="button">CREATE ITEM</button>
    <button class="Button" onclick="location.href='list-staff'" type="button">SHOW LIST MEMBER</button>
    <button class="Button" onclick="location.href='list-books'" type="button">List book</button>
</body>

</html>