<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header-login.css">
    <title>Login</title>
</head>

<body>

    <div class="Header">
        <div class="Header-background"></div>
        <div class="Header-content">
            <div class="Header-hero">
                <h1>The best app you've <br /> ever seen</h1>
                <p>You'll be blown away with all it does</p>
                <button class="Button" onclick="location.href='signup'" type="button">
                    Sign up</button>
                <button class="Button">Sign in</button>
            </div>
            <div class="Header-visuals">
                <div class="Iphone"></div>
            </div>
        </div>
    </div>


</body>

</html>