<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/css/background.css}">

    <title>List staffs</title>
</head>

<body>
    <form id="msform">
        <H1>List staff</H1>
        <table width="200%" padding="10" border=1>
            <tr>
                <td>ID</td>
                <td>Username</td>
                <td>Full name</td>
                <td>Date of birth</td>
                <td>Address</td>
                <td>Phone number</td>
                <td>Email</td>
            </tr>
            <tr th:each="staff :${staff}">
                <td>
                    <a th:text="${staff.id}"></a>
                </td>
                <td>
                    <a th:text="${staff.username}"></a>
                </td>
                <td>
                    <a th:text="${staff.fullnameId.firstName}"></a>
                </td>
                <td>
                    <a th:text="${staff.dateOfBirth}"></a>
                </td>
                <td>
                    <a th:text="${staff.addressId.name}+', '+${staff.addressId.street}
                    +', '+${staff.addressId.district}+', '+${staff.addressId.city}+', '+${staff.addressId.state}+', '+${staff.addressId.country}"></a>
                </td>
                <td>
                    <a th:text="${staff.phoneNumber}"></a>
                </td>
                <td>
                    <a th:text="${staff.email}"></a>
                </td>
            </tr>
        </table>
    </form>
</body>
<script type="text/javascript" src="js/display.js"></script>

</html>