<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <html xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <title>Admin site</title>
</head>

<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2>
                <span class="las la-accusoft">
                </span><span>L2Global</span>
            </h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/inventory">
                        <span class="las la-igloo"></span>
                        <span>Item</span>
                    </a>
                </li>
                <li>
                    <a href="/inventory/stores" class="active">
                        <span class="las la-users"></span>
                        <span>Store</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="main-content">
        <div>
            <header>
                <h2>
                    <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label> Inventory
                </h2>

                <div class="search-wrapper">
                    <span class="las la-search"></span>
                    <input type="search" placeholder="Search here" />
                </div>
                <div class="user-wrapper">
                    <img th:src="@{/image/2.jpg}" width="40px" height="40px" alt="" />
                    <div>
                        <h4>Truong Ho</h4>
                        <small>Super Admin</small>
                    </div>
                </div>
            </header>
        </div>
        <div>
            <main margin="0">
                <div class="cards">
                    <div class="card-single">
                        <div>
                            <h1>54</h1>
                            <span>Total in stock</span>
                        </div>
                        <div>
                            <span class="las la-users"></span>
                        </div>
                    </div>
                    <div class="card-single">
                        <div>
                            <h1>something</h1>
                            <span>Best seller</span>
                        </div>
                        <div>
                            <span class="lab la-google-wallet"></span>
                        </div>
                    </div>
                    <div class="card-single">
                        <div>
                            <h1>0</h1>
                            <span>Order</span>
                        </div>
                        <div>
                            <span class="las la-shopping-bag"></span>
                        </div>
                    </div>
                </div>
                <div class="recent_grid">
                    <div class="projects">
                        <div class="card">
                            <div class="card-header">
                                <h3>Top Store</h3>
                                <a class="button" th:href="@{/inventory/stores/list-store}">See all <span class="las la-arrow-right"></span></a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table width="100%">
                                        <thead>
                                            <tr>
                                                <td>Store Id</td>
                                                <td>Address</td>
                                                <td>Sales</td>
                                                <td>Status</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="store : ${listStore}">
                                                <td>
                                                    <span th:text="${store.id}"></span>
                                                </td>
                                                <td>
                                                    <span th:text="${store.address}"></span>
                                                </td>
                                                <td>
                                                    <span th:text="${store.id}"></span>
                                                </td>
                                                <td>
                                                    <span class="status" th:classappend="${store.status}"></span>
                                                    <span th:text="${store.status}"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="customers"></div>
                    <div class="card">
                        <div class="card-header">
                            <h3>New customer</h3>
                            <button>See all <span class="las la-arrow-right"></span></button>
                        </div>
                        <div class="card-body">
                            <div class="customer">
                                <div class="info">
                                    <img src="image/2.jpg" width="40px" height="40px" alt="">
                                </div>
                                <div>
                                    <h4>Ho Quy Truong</h4>
                                    <small>Developer</small>
                                </div>
                            </div>
                            <div class="contact">
                                <span class="las la-user-circle"></span>
                                <span class="las la-comment"></span>
                                <span class="las la-phone"></span>
                            </div>
                            <div class="customer">
                                <div class="info">
                                    <img src="image/2.jpg" width="40px" height="40px" alt="">
                                </div>
                                <div>
                                    <h4>Ho Quy Truong</h4>
                                    <small>Developer</small>
                                </div>
                            </div>
                            <div class="contact">
                                <span class="las la-user-circle"></span>
                                <span class="las la-comment"></span>
                                <span class="las la-phone"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>
        <div>
            <main margin="0">
                <div>
                    <form th:action="@{/saveStore}" method="post">
                        <h2>Add new store</h2>
                        <ul>
                            <li>
                                <span>Address</span>
                                <input type="text" th:field="*{store.address}" placeholder="Address" />
                            </li>
                            <li>
                                <span>Phone number</span>
                                <input type="text" th:field="*{store.phoneNumber}" placeholder="Phone number">
                            </li>
                            <li>
                                <span>Date Open</span>
                                <input type="date" th:field="*{store.openDate}" placeholder="Open date">
                            </li>
                            <li>
                                <span>Status</span>
                                <select th:field="*{store.status}" placeholder="....">
                                    <option th:value="'Pending'">Pending</option>
                                    <option th:value="'Closed'">Closed</option>
                                    <option th:value="'Opening'">Opening</option>
                                    <option th:value="'Repairing'">Repairing</option>
                                </select>
                            </li>
                            <button type="submit">Create</button>
                        </ul>
                    </form>
                </div>
            </main>
        </div>
    </div>
</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<script type="text/javascript" th:src="@{/js/signup.js}"></script>

</html>